=render 'nav'


-if notice
  %div{class:"alert alert-error", style:"position:relative; top: 30px; width:400px; height:30px; margin: 0 auto;"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      ×
    =notice

=form_tag(admins_dosending_path, method:"post") do
  =hidden_field_tag :send, "1"
  = submit_tag "Разослать", class:"btn"
%div{class:"subscribes", style:"position:relative; top:40px; margin-bottom:60px;"}
  %table{class:"table table-condensed", style:"width:800px; margin:0 auto;"}
    %tr
      %th #
      %th "Subscribe Email"
      %th "Action"
    - @subscribes.each do |s|
      %tr
        %td=s.id
        %td=s.email
        %td=link_to "Удалить", subscribe_path(s), method:"delete"
        
  = will_paginate @subscribes