// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article {height: 100%;position: relative;padding-left: 40px;top:20px; left:70px;border-left: 1px dashed gray;padding-top: 10px;width:800px; display: block;}
#article img#image_b{ float:left; margin-right: 10px;}
#article img#image_b > #article{margin: 0px 10px 0px 10px;}
#more{ color:#3399CC; float:right; margin-right: 50px; clear: both;}
#article hr{ clear: both; }
#sign_in_art{ color: black; }
#p_data{ clear: both; }
.article_show{ width:1200px; margin-left: 50px; border-left: gray dotted 1px; padding-left: 10px; }
img#show_img{ float: left; margin: 10px 10px 0px 0px; }

#comments_d{ display: table; position: rerelative; margin: 0px auto; }
#comments_d input[type="submit"] { width: 500px; }
textarea#comment_area{ width:500px; height: 200px; resize: none; }
#comment_box{ width:500px !important; }
#back_url{ width: 50px; height: 30px; background-color: #6699CC; position: fixed; top:30px; left:0px; color:white; display: inline; vertical-align: middle; text-align: center;} 